{% extends "layout.html" %}
{% block body %}
 <H1>INSTALADORES</H1>

 <article class="full-box tile3">
       
    <div class="full-box cont2 text-center" >
      <h1></h1>
      <figure class="full-box">
        
        <img src="{{url_for('static', filename='assets/img/atoll.png')}}" >

        <a class=" full-box button" href="https://drive.google.com/file/d/1JyHTgzI6ISwpZAsT0lTfPZ2X4C2b6HCF/view?usp=drive_link">MANUAL    </a>
        <a class=" full-box button" href="https://www.forsk.com/atoll-overview">WEB    </a>
        <a class=" full-box button" href="https://drive.google.com/uc?export=download&id=1YZiz07HcqfgPYPS0AhxlVMz8k-pIwGz1">DOWNLOAD    </a>
      
      </figure>
    </div>
    <div class="full-box tile3-title text-center text-titles text-uppercase">
      ATOLL
    </div>
    <DIV>
      Proporciona herramientas para el diseño, la optimización y el análisis de redes móviles. Incluyen la planificación de la red, la simulación de cobertura, el análisis de capacidad, la optimización de la calidad del servicio (QoS) y otras tareas relacionadas con la ingeniería de redes móviles, como 2G, 3G, 4G (LTE), y 5G.
    </DIV>
  </article>
  


  <article class="full-box tile3">
       
    <div class="full-box cont2 text-center" >
      <h1></h1>
      <figure class="full-box">
        
        <img src="{{url_for('static', filename='assets/img/RW.png')}}" >

        <a class=" full-box button" href="https://drive.google.com/file/d/1Y9AI34xWj7R_wEYGrMEM6GvLzw5S7N_j/view?usp=drive_link">MANUAL    </a>
        
        <a class=" full-box button" href="https://drive.google.com/uc?export=download&id=17zKvr-fnc_VRHyrCGF2xBg7D9a2HTqPD">DOWNLOAD    </a>
      
      </figure>
    </div>
    <div class="full-box tile3-title text-center text-titles text-uppercase">
      RADIO WORKS
    </div>
    <DIV>
      Es una herramienta para el cálculo de diversos temas relacionados con las ondas de radio y la propagación de ondas de radio
    </DIV>
  </article>

  
      
  <article class="full-box tile3">
       
    <div class="full-box cont2 text-center" >
      <h1></h1>
      <figure class="full-box">
        
        <img src="{{url_for('static', filename='assets/img/RM.png')}}" >
        <a class=" full-box button" href=https://drive.google.com/file/d/1oyMXhdk31HEGG-s0krkuRk24UVy2-c1S/view?usp=drive_link>MANUAL    </a>
        <a class=" full-box button" href="https://www.ve2dbe.com/english1.html">WEB    </a>
        <a class=" full-box button" href="https://drive.google.com/uc?export=download&id=1-Gs57SVWgm92FUSNLLXWTuXbyCNuAAEj">DOWNLOAD    </a>
      
      </figure>
    </div>
    <div class="full-box tile3-title text-center text-titles text-uppercase">
      RADIOMOVILE
    </div>
    <DIV>
      Permite realizar el cálculo de radio enlaces de larga distancia en terreno irregular. Para ello utiliza perfiles
geográficos combinados con la información de los equipos (potencia,sensibilidad del receptor, características de las antenas, pérdidas, etc.)
    </DIV>
    
    </article>



  <article class="full-box tile3">
       
    <div class="full-box cont2 text-center" >
      <h1></h1>
      <figure class="full-box">
        
        <img src="{{url_for('static', filename='assets/img/OP.png')}}" >

        <a class=" full-box button" href="https://optiwave.com/optisystem-overview/">WEB    </a>
        <a class=" full-box button" href="https://drive.google.com/uc?export=download&id=1Q3Mr7idUNjPLonot2k9OPnETWJA4cCZO">DOWNLOAD </a>
      
      </figure>
    </div>
    <div class="full-box tile3-title text-center text-titles text-uppercase">
      OPTISYSTEM
    </div>
    <DIV>
    Permite a los usuarios planificar, probar y simular  redes ópticas desde LAN, SAN, MAN hasta redes ultralargas, desde el nivel de componente hasta el de sistema y presenta visualmente análisis y escenarios.
    </DIV>
    <DIV>

    </DIV>
  </article>

  <article class="full-box tile3">
       
    <div class="full-box cont2 text-center" >
      <h1></h1>
      <figure class="full-box">
        
        <img src="{{url_for('static', filename='assets/img/SM.png')}}" >

        <a class=" full-box button" href="https://eop-cfi.esa.int/index.php/applications/sami">WEB    </a>
        <a class=" full-box button" href="https://drive.google.com/uc?export=download&id=1QuxQe8EpidcRJyJOHmR5aiIVPyAlBwEO">DOWNLOAD    </a>
      
      </figure>
    </div>
    <div class="full-box tile3-title text-center text-titles text-uppercase">
      SAMI
    </div>
    <DIV>
      Muestra impresionantes animaciones y simulaciones en tiempo real 3D y 2D de alta definición de los satélites de observación de la Tierra de la ESA que orbitan alrededor de la Tierra.
    </DIV>
  </article>


  <article class="full-box tile3">
       
    <div class="full-box cont2 text-center" >
      <h1></h1>
      <figure class="full-box">
        
        <img src="{{url_for('static', filename='assets/img/SAM.png')}}" >

        <a class=" full-box button" href="https://www.arrowe.uk/"">WEB    </a>
        <a class=" full-box button" href="https://drive.google.com/uc?export=download&id=1Q3Mr7idUNjPLonot2k9OPnETWJA4cCZO">DOWNLOAD    </a>
       
      </figure>
    </div>
    <div class="full-box tile3-title text-center text-titles text-uppercase">
      SATMASTER
    </div>
    <DIV>
      Calculado el presupuesto de enlaces satelitales con herramientas adicionales para orientación de antenas, espaciado de alimentación dual y predicción de interrupciones solares. 
    </DIV>
  </article>


  

  <H1>ONLINE</H1>

  <article class="full-box tile3">
       
    <div class="full-box cont2 text-center" >
      <h1></h1>
      <figure class="full-box">
        
        <img src="{{url_for('static', filename='assets/img/XR.png')}}" >

        <a class=" full-box button" href="https://drive.google.com/file/d/1dSKPk20YEroEanycj0xsPbzTHXW2ShFd/view?usp=drive_link">MANUAL    </a>
        <a class=" full-box button" href="https://www.xirio-online.com/web/home/welcome.aspx">WEB    </a>
        
      </figure>
    </div>
    <div class="full-box tile3-title text-center text-titles text-uppercase">
      X-IRIO ONLINE
    </div>
    <div>
      Permite realizar cálculos radioeléctricos, compartir y publicar resultados en la red sin necesidad de disponer de herramientas de planificación ni cartografía digital propias.
    </div>
  </article>


  <article class="full-box tile3">
       
    <div class="full-box cont2 text-center" >
      <h1></h1>
      <figure class="full-box">
        
        <img src="{{url_for('static', filename='assets/img/SAT.png')}}" >

          <a class=" full-box button" href="https://satlex.it/es/azel_calc-params.html?satlo=-53.0&user_satlo=53&user_satlo_dir=W&location=-2.90%2C-79.00&la=-2.90&lo=-79.00&country_code=ec&diam_w=1200&diam_h=1200">WEB    </a>
        
      </figure>
    </div>
    <div class="full-box tile3-title text-center text-titles text-uppercase">
      SATLEX
    </div>
    <div>
      Proporciona información sobre satélites artificiales, especialmente aquellos utilizados en el ámbito de las comunicaciones y la transmisión de datos.
    </div>
  </article>



  <article class="full-box tile3">
       
    <div class="full-box cont2 text-center" >
      <h1></h1>
      <figure class="full-box">
        
        <img src="{{url_for('static', filename='assets/img/INS.png')}}" >

          <a class=" full-box button" href="https://www.intelsat.com/fleetmaps/">WEB    </a>
       
      </figure>
    </div>
    <div class="full-box tile3-title text-center text-titles text-uppercase">
      INTELSAT
    </div>
    <DIV>
      Proporciona información detallada la flota de satélites que opera y cómo sus soluciones de conectividad satelital pueden ser utilizadas en diversas industrias
    </DIV>
  </article>



 


{% endblock %}
