{% extends "layout.html" %}
{% block body %}
<H1>CURSOS SOBRE COMUNICACIONES MOVILES</H1>

    <H1>LIBROS</H1>
<article class="full-box tile2">
       <BR></BR>
    <div class="full-box cont3 text-center" >
      <h1></h1>
      <figure class="full-box">
        <a class=" full-box button" href="https://www.edx.org/es/learn/engineering/universidad-carlos-iii-de-madrid-fundamentos-de-las-comunicaciones-moviles-en-la-palma-de-tu-mano"> <img src="{{url_for('static', filename='assets/img/ex.png')}}" >DOWNLOAD PDF   </a>
              
      </figure>
    </div>
    <div class="full-box tile2-title text-center text-titles text-uppercase">
      UC3Mx:
    </div>
    <div> Fundamentos de las comunicaciones móviles: en la palma de tu mano
     <small>Comienza el 18 ene Termina el 30 jun</small> 
     <div>GRATIS</div>
     

    </div>


  </article>
 
  <article class="full-box tile2">
       <BR></BR>
    <div class="full-box cont3 text-center" >
      <h1></h1>
      <figure class="full-box">
        <a class=" full-box button" href="https://telecapp.com/academy"> <img src="{{url_for('static', filename='assets/img/tel.png')}}" >DOWNLOAD PDF   </a>
      </figure>
    </div>
    <div class="full-box tile2-title text-center text-titles text-uppercase">
      Telecapp Academy
    </div>
    <DIV>
      Está certificado por LTE por Huawei
    </DIV>
  </article>

  <article class="full-box tile2">
    <BR></BR>
 <div class="full-box cont3 text-center" >
   <h1></h1>
   <figure class="full-box">
     
      <a class=" full-box button" href="https://ilabora.com/curso/curso-online-de-sistemas-de-telefonia/"> <img src="{{url_for('static', filename='assets/img/ila.png')}}" >DOWNLOAD PDF   </a>

   </figure>
 </div>
 <div class="full-box tile2-title text-center text-titles text-uppercase">
  Sistemas de Telefonía
 </div>
<DIV>
  Conocimiento sobre los fundamentos y tecnologías que sustentan las comunicaciones telefónicas modernas
</DIV>
</article>
 


  

{% endblock %}
