{% extends "layout.html" %}
{% block body %}
<H1>MATERIAL DE CLASE</H1>
<article class="full-box tile2">
       
    <div class="full-box cont3 text-center" >
      <h1></h1>
      <figure class="full-box">
        
        
        
        <a class=" full-box button" href="/VER/1"><img src="{{url_for('static', filename='assets/img/VER.png')}}" >VER   </a>
       
        <a class=" full-box button" href="https://drive.google.com/uc?export=download&id=1BmEQMd_4TrFiaDhVTlTPKX2Y24N9irmX"> <img src="{{url_for('static', filename='assets/img/PDF.png')}}" >DOWNLOAD PDF   </a>
      
        <a class=" full-box button" href="https://drive.google.com/uc?export=download&id=1YZiz07HcqfgPYPS0AhxlVMz8k-pIwGz1"> <img src="{{url_for('static', filename='assets/img/WD.png')}}" >DOWNLOAD WORD   </a>
       
      </figure>
    </div>
    <div class="full-box tile2-title text-center text-titles text-uppercase">
      CAPITULO 1
    </div>

  </article>
 
  <article class="full-box tile2">
       
    <div class="full-box cont3 text-center" >
      <h1></h1>
      <figure class="full-box">
        
        
        
        <a class=" full-box button" href="/VER/2"><img src="{{url_for('static', filename='assets/img/VER.png')}}" >VER   </a>
       
        <a class=" full-box button" href="https://drive.google.com/uc?export=download&id=1tWiG3mc0ci5vXShjhHihK5QXTr4hXLDA"> <img src="{{url_for('static', filename='assets/img/PDF.png')}}" >DOWNLOAD PDF   </a>
      
        <a class=" full-box button" href="https://drive.google.com/uc?export=download&id=1YZiz07HcqfgPYPS0AhxlVMz8k-pIwGz1"> <img src="{{url_for('static', filename='assets/img/WD.png')}}" >DOWNLOAD WORD   </a>
        
      </figure>
    </div>
    <div class="full-box tile2-title text-center text-titles text-uppercase">
      CAPITULO 2
    </div>

  </article>
 
  <article class="full-box tile2">
       
    <div class="full-box cont3 text-center" >
      <h1></h1>
      <figure class="full-box">
        
        
        
        <a class=" full-box button" href="/VER/3"><img src="{{url_for('static', filename='assets/img/VER.png')}}" >VER   </a>
       
        <a class=" full-box button" href="https://drive.google.com/uc?export=download&id=1YZiz07HcqfgPYPS0AhxlVMz8k-pIwGz1"> <img src="{{url_for('static', filename='assets/img/PDF.png')}}" >DOWNLOAD PDF   </a>
      
        <a class=" full-box button" href="https://drive.google.com/uc?export=download&id=1YZiz07HcqfgPYPS0AhxlVMz8k-pIwGz1"> <img src="{{url_for('static', filename='assets/img/WD.png')}}" >DOWNLOAD WORD   </a>
      
      </figure>
    </div>
    <div class="full-box tile2-title text-center text-titles text-uppercase">
      CAPITULO 3
    </div>

  </article>
 
  <article class="full-box tile2">
       
    <div class="full-box cont3 text-center" >
      <h1></h1>
      <figure class="full-box">
        
        
        
        <a class=" full-box button" href="/VER/4"><img src="{{url_for('static', filename='assets/img/VER.png')}}" >VER   </a>
       
        <a class=" full-box button" href="https://drive.google.com/uc?export=download&id=17RqH4VAFor4Unlbd-Ix_6rE60GTVImW2"> <img src="{{url_for('static', filename='assets/img/PDF.png')}}" >DOWNLOAD PDF   </a>
      
        <a class=" full-box button" href="https://drive.google.com/uc?export=download&id=1YZiz07HcqfgPYPS0AhxlVMz8k-pIwGz1"> <img src="{{url_for('static', filename='assets/img/WD.png')}}" >DOWNLOAD WORD   </a>
  
      </figure>
    </div>
    <div class="full-box tile2-title text-center text-titles text-uppercase">
      CAPITULO 4
    </div>

  </article>
 
  <article class="full-box tile2">
       
    <div class="full-box cont3 text-center" >
      <h1></h1>
      <figure class="full-box">
        
        
        
        <a class=" full-box button" href="/VER/5"><img src="{{url_for('static', filename='assets/img/VER.png')}}" >VER   </a>
       
        <a class=" full-box button" href="https://drive.google.com/uc?export=download&id=1VUP9oe8tPmY44RRb9eE0lGxerJD1GRox"> <img src="{{url_for('static', filename='assets/img/PDF.png')}}" >DOWNLOAD PDF   </a>
      
        <a class=" full-box button" href="https://drive.google.com/uc?export=download&id=1YZiz07HcqfgPYPS0AhxlVMz8k-pIwGz1"> <img src="{{url_for('static', filename='assets/img/WD.png')}}" >DOWNLOAD WORD   </a>
       
      </figure>
    </div>
    <div class="full-box tile2-title text-center text-titles text-uppercase">
      CAPITULO 5 
    </div>

  </article>

  <article class="full-box tile2">
       
    <div class="full-box cont3 text-center" >
      <h1></h1>
      <figure class="full-box">
        
        
        
        <a class=" full-box button" href="/VER/5"><img src="{{url_for('static', filename='assets/img/VER.png')}}" >VER   </a>
       
        <a class=" full-box button" href="https://drive.google.com/uc?export=download&id=1VUP9oe8tPmY44RRb9eE0lGxerJD1GRox"> <img src="{{url_for('static', filename='assets/img/PDF.png')}}" >DOWNLOAD PDF   </a>
      
        <a class=" full-box button" href="https://drive.google.com/uc?export=download&id=1YZiz07HcqfgPYPS0AhxlVMz8k-pIwGz1"> <img src="{{url_for('static', filename='assets/img/WD.png')}}" >DOWNLOAD WORD   </a>
       
      </figure>
    </div>
    <div class="full-box tile2-title text-center text-titles text-uppercase">
      CAPITULO 6 
    </div>

  </article>

{% endblock %}
