{% extends "layout.html" %}
{% block body %}
<H1>MATERIAL DE CLASE</H1>
<article class="full-box tile2">
       
    <div class="full-box cont3 text-center" >
      <h1></h1>
      <figure class="full-box">
        
        
        
        <a class=" full-box button" href="/VER/1"><img src="{{url_for('static', filename='assets/img/VER.png')}}" >VER   </a>
       
        <a class=" full-box button" href="https://drive.google.com/uc?export=download&id=1BmEQMd_4TrFiaDhVTlTPKX2Y24N9irmX"> <img src="{{url_for('static', filename='assets/img/PDF.png')}}" >DOWNLOAD PDF   </a>
      
        <a class=" full-box button" href="https://drive.google.com/uc?export=download&id=1YZiz07HcqfgPYPS0AhxlVMz8k-pIwGz1"> <img src="{{url_for('static', filename='assets/img/WD.png')}}" >DOWNLOAD WORD   </a>
       
      </figure>
    </div>
    <div class="full-box tile2-title text-center text-titles text-uppercase">
      CAPITULO 1
    </div>

  </article>
 
  <article class="full-box tile2">
       
    <div class="full-box cont3 text-center" >
      <h1></h1>
      <figure class="full-box">
        
        
        
        <a class=" full-box button" href="/VER/2"><img src="{{url_for('static', filename='assets/img/VER.png')}}" >VER   </a>
       
        <a class=" full-box button" href="https://drive.google.com/uc?export=download&id=1tWiG3mc0ci5vXShjhHihK5QXTr4hXLDA"> <img src="{{url_for('static', filename='assets/img/PDF.png')}}" >DOWNLOAD PDF   </a>
      
        <a class=" full-box button" href="https://drive.google.com/uc?export=download&id=1YZiz07HcqfgPYPS0AhxlVMz8k-pIwGz1"> <img src="{{url_for('static', filename='assets/img/WD.png')}}" >DOWNLOAD WORD   </a>
        
      </figure>
    </div>
    <div class="full-box tile2-title text-center text-titles text-uppercase">
      CAPITULO 2
    </div>

  </article>
 
  <article class="full-box tile2">
       
    <div class="full-box cont3 text-center" >
      <h1></h1>
      <figure class="full-box">
        
        
        
        <a class=" full-box button" href="/VER/3"><img src="{{url_for('static', filename='assets/img/VER.png')}}" >VER   </a>
       
        <a class=" full-box button" href="https://drive.google.com/uc?export=download&id=1YZiz07HcqfgPYPS0AhxlVMz8k-pIwGz1"> <img src="{{url_for('static', filename='assets/img/PDF.png')}}" >DOWNLOAD PDF   </a>
      
        <a class=" full-box button" href="https://drive.google.com/uc?export=download&id=1YZiz07HcqfgPYPS0AhxlVMz8k-pIwGz1"> <img src="{{url_for('static', filename='assets/img/WD.png')}}" >DOWNLOAD WORD   </a>
      
      </figure>
    </div>
    <div class="full-box tile2-title text-center text-titles text-uppercase">
      CAPITULO 3
    </div>

  </article>
 
  <article class="full-box tile2">
       
    <div class="full-box cont3 text-center" >
      <h1></h1>
      <figure class="full-box">
        
        
        
        <a class=" full-box button" href="/VER/4"><img src="{{url_for('static', filename='assets/img/VER.png')}}" >VER   </a>
       
        <a class=" full-box button" href="https://drive.google.com/uc?export=download&id=17RqH4VAFor4Unlbd-Ix_6rE60GTVImW2"> <img src="{{url_for('static', filename='assets/img/PDF.png')}}" >DOWNLOAD PDF   </a>
      
        <a class=" full-box button" href="https://drive.google.com/uc?export=download&id=1YZiz07HcqfgPYPS0AhxlVMz8k-pIwGz1"> <img src="{{url_for('static', filename='assets/img/WD.png')}}" >DOWNLOAD WORD   </a>
  
      </figure>
    </div>
    <div class="full-box tile2-title text-center text-titles text-uppercase">
      CAPITULO 4
    </div>

  </article>
 
  <article class="full-box tile2">
       
    <div class="full-box cont3 text-center" >
      <h1></h1>
      <figure class="full-box">
        
        
        
        <a class=" full-box button" href="/VER/5"><img src="{{url_for('static', filename='assets/img/VER.png')}}" >VER   </a>
       
        <a class=" full-box button" href="https://drive.google.com/uc?export=download&id=1VUP9oe8tPmY44RRb9eE0lGxerJD1GRox"> <img src="{{url_for('static', filename='assets/img/PDF.png')}}" >DOWNLOAD PDF   </a>
      
        <a class=" full-box button" href="https://drive.google.com/uc?export=download&id=1YZiz07HcqfgPYPS0AhxlVMz8k-pIwGz1"> <img src="{{url_for('static', filename='assets/img/WD.png')}}" >DOWNLOAD WORD   </a>
       
      </figure>
    </div>
    <div class="full-box tile2-title text-center text-titles text-uppercase">
      CAPITULO 5 
    </div>

  </article>

  <article class="full-box tile2">
       
    <div class="full-box cont3 text-center" >
      <h1></h1>
      <figure class="full-box">
        
        
        
        <a class=" full-box button" href="/VER/5"><img src="{{url_for('static', filename='assets/img/VER.png')}}" >VER   </a>
       
        <a class=" full-box button" href="https://drive.google.com/uc?export=download&id=1VUP9oe8tPmY44RRb9eE0lGxerJD1GRox"> <img src="{{url_for('static', filename='assets/img/PDF.png')}}" >DOWNLOAD PDF   </a>
      
        <a class=" full-box button" href="https://drive.google.com/uc?export=download&id=1YZiz07HcqfgPYPS0AhxlVMz8k-pIwGz1"> <img src="{{url_for('static', filename='assets/img/WD.png')}}" >DOWNLOAD WORD   </a>
       
      </figure>
    </div>
    <div class="full-box tile2-title text-center text-titles text-uppercase">
      CAPITULO 6 
    </div>

  </article>
  <H1>LABORATORIOS</H1>
  <article class="full-box tile2">
         
      <div class="full-box cont3 text-center" >
        <h1></h1>
        <figure class="full-box">
          
          
          
          <a class=" full-box button" href="/VERPDF/1"><img src="{{url_for('static', filename='assets/img/VER.png')}}" >VER   </a>
         
          <a class=" full-box button" href="https://drive.google.com/uc?export=download&id=116209125536641958645&rtpof"> <img src="{{url_for('static', filename='assets/img/PDF.png')}}" >DOWNLOAD PDF   </a>
        
          <a class=" full-box button" href="https://drive.google.com/uc?export=download&id=1IFFyFsrVM4ZdU6L9IHrDT_lHdlyhcGEZ"> <img src="{{url_for('static', filename='assets/img/WD.png')}}" >DOWNLOAD WORD   </a>
         
              </figure>
      </div>
      <div class="full-box tile2-title text-center text-titles text-uppercase">
        PRACTICA 1
      </div>
  
    </article>
   
    <article class="full-box tile2">
         
      <div class="full-box cont3 text-center" >
        <h1></h1>
        <figure class="full-box">
          
          
          
          <a class=" full-box button" href="/VERPDF/3"><img src="{{url_for('static', filename='assets/img/VER.png')}}" >VER   </a>
         
          <a class=" full-box button" href="https://drive.google.com/uc?export=download&id=116209125536641958645&rtpof"> <img src="{{url_for('static', filename='assets/img/PDF.png')}}" >DOWNLOAD PDF   </a>
        
          <a class=" full-box button" href="https://drive.google.com/uc?export=download&id=1DcGzziQV6XO7EB92VNxSvOI8wfHz0L_D"> <img src="{{url_for('static', filename='assets/img/WD.png')}}" >DOWNLOAD WORD   </a>
          

        </figure>
      </div>
      <div class="full-box tile2-title text-center text-titles text-uppercase">
        PRACTICA 2
      </div>
  
    </article>
   
    <article class="full-box tile2">
         
      <div class="full-box cont3 text-center" >
        <h1></h1>
        <figure class="full-box">
          
          
          <a class=" full-box button" href="/VERPDF/3"><img src="{{url_for('static', filename='assets/img/VER.png')}}" >VER   </a>
         
          <a class=" full-box button" href="https://drive.google.com/uc?export=download&id=116209125536641958645&rtpof"> <img src="{{url_for('static', filename='assets/img/PDF.png')}}" >DOWNLOAD PDF   </a>
        
          <a class=" full-box button" href="https://drive.google.com/uc?export=download&id=16_gYTZIDHc4nW1iYJa-7ZpMG945iCnRl"> <img src="{{url_for('static', filename='assets/img/WD.png')}}" >DOWNLOAD WORD   </a>
          
        </figure>
      </div>
      <div class="full-box tile2-title text-center text-titles text-uppercase">
        PRACTICA 3
      </div>
  
    </article>

    <H1>LIBROS</H1>
<article class="full-box tile2">
       <BR></BR>
    <div class="full-box cont3 text-center" >
      <h1></h1>
      <figure class="full-box">
        <a class=" full-box button" href="https://drive.google.com/uc?export=download&id=1kHrKw7emlbsSsCaIeIYQ4F7n2YUM5f4T"> <img src="{{url_for('static', filename='assets/img/PDF.png')}}" >DOWNLOAD PDF   </a>
              
      </figure>
    </div>
    <div class="full-box tile2-title text-center text-titles text-uppercase">
      COMUNICACIONES
    </div>
    <div>COMUNICACIONES MOVILES RABANOS</div>

  </article>
 
  <article class="full-box tile2">
       <BR></BR>
    <div class="full-box cont3 text-center" >
      <h1></h1>
      <figure class="full-box">
        <a class=" full-box button" href="https://drive.google.com/file/d/14rzE7UkgblmPNjKOHRDeJ4RwdzeCs0Ei/view?usp=drive_link"> <img src="{{url_for('static', filename='assets/img/PDF.png')}}" >DOWNLOAD PDF   </a>
      </figure>
    </div>
    <div class="full-box tile2-title text-center text-titles text-uppercase">
      TRANSMISION 
    </div>
    <DIV>
      TRANSMISION POR RADIO RABANOS
    </DIV>
  </article>
 
  <article class="full-box tile2">
       <BR></BR>
    <div class="full-box cont3 text-center" >
      <h1></h1>
      <figure class="full-box">
        
         <a class=" full-box button" href="https://drive.google.com/uc?export=download&id=1eU7ChsWYy09uArdKPWQM-ohN2uUYCBGj"> <img src="{{url_for('static', filename='assets/img/PDF.png')}}" >DOWNLOAD PDF   </a>
      
      </figure>
    </div>
    <div class="full-box tile2-title text-center text-titles text-uppercase">
      Comunicaciones moviles
    </div>
<DIV>
  COMUNICAIONES MOVILES POR JUAN PABLO PALLO
</DIV>
  </article>
 



  

{% endblock %}
