{% extends "layout.html" %}
{% block body %}
<H1>MATERIAL DE CLASE</H1>

    <H1>LIBROS</H1>
<article class="full-box tile2">
       <BR></BR>
    <div class="full-box cont3 text-center" >
      <h1></h1>
      <figure class="full-box">
        <a class=" full-box button" href="https://drive.google.com/file/d/1CSfX0Kyrec3Hf17Kz35OqtIMNKkwQWjx/view?usp=drive_link"> <img src="{{url_for('static', filename='assets/img/PDF.png')}}" >DOWNLOAD PDF   </a>
              
      </figure>
    </div>
    <div class="full-box tile2-title text-center text-titles text-uppercase">
      SATELITES
    </div>
    <div>SATELITES AUTORIZADOS PARA EL ECUADOR</div>

  </article>
 
  <article class="full-box tile2">
       <BR></BR>
    <div class="full-box cont3 text-center" >
      <h1></h1>
      <figure class="full-box">
        <a class=" full-box button" href="https://docs.google.com/spreadsheets/d/1uRTDLSxuTumv7fucKF-pcPhHvRWDR3MD/edit?usp=drive_link&ouid=116209125536641958645&rtpof=true&sd=true"> <img src="{{url_for('static', filename='assets/img/PDF.png')}}" >DOWNLOAD PDF   </a>
      </figure>
    </div>
    <div class="full-box tile2-title text-center text-titles text-uppercase">
      FORMATO 
    </div>
    <DIV>
      OTH OPERACION DE RED PRIVADA
    </DIV>
  </article>
 
  <article class="full-box tile2">
       <BR></BR>
    <div class="full-box cont3 text-center" >
      <h1></h1>
      <figure class="full-box">
        
         <a class=" full-box button" href="https://docs.google.com/spreadsheets/d/1rUK_3zFTfP5bEOJOnsibLjxN4MGOAr3K/edit?usp=drive_link&ouid=116209125536641958645&rtpof=true&sd=true"> <img src="{{url_for('static', filename='assets/img/PDF.png')}}" >DOWNLOAD PDF   </a>
      
      </figure>
    </div>
    <div class="full-box tile2-title text-center text-titles text-uppercase">
      OTH
    </div>
<DIV>
  HOJAS DE ARCOTEL
</DIV>
  </article>
 



  

{% endblock %}
