<!DOCTYPE html>
<html lang="es">
<head>
	<title>Inicio</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">

</head>
<body>
	<!-- SideBar -->
	<section class="full-box cover dashboard-sideBar">
		<div class="full-box dashboard-sideBar-bg btn-menu-dashboard"></div>
		<div class="full-box dashboard-sideBar-ct">
			<!--SideBar Title -->
			<div class="full-box text-uppercase text-center text-titles dashboard-sideBar-title">
				UNIVERSIDAD TECNICA DE AMBATO <i class="zmdi zmdi-close btn-menu-dashboard visible-xs"></i>
			</div>
			<!-- SideBar User info -->
			<div class="full-box dashboard-sideBar-UserInfo">
				<h1></h1>
				<figure class="full-box">
					<img src="{{url_for('static', filename='assets/img/logo.png')}}" alt="UserIcon">
					<br>
					<figcaption class="text-center text-titles">COMUNICACIONES MOVILES</figcaption>
				</figure>
			</div>
			<!-- SideBar Menu -->
			<ul class="list-unstyled full-box dashboard-sideBar-Menu">
				<li>
					<a href="/">
						<i class="zmdi zmdi-view-dashboard zmdi-hc-fw"></i> Home					</a>
				</li>
				<li>
					<a href="#!" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-case zmdi-hc-fw"></i> CAPITULO 1 <i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">
						<li>
							<a href="/cap1/1"><i class="zmdi zmdi-book zmdi-hc-fw"></i> DIFICULTADES</a>
						</li>
						<li>
							<a href="/cap1/2"><i class="zmdi zmdi-book zmdi-hc-fw"></i> HISTORIA</a>
						</li>
						<li>
							<a href="/cap1/3"><i class="zmdi zmdi-book zmdi-hc-fw"></i>INTRODUCCION </a>
						</li>
						<li>
							<a href="/cap1/4"><i class="zmdi zmdi-book zmdi-hc-fw"></i> PANORAMA</a>
						</li>
						<li>
							<a href="/cap1/5"><i class="zmdi zmdi-book zmdi-hc-fw"></i> COMPONENTES</a>
						</li>
						<li>
							<a href="/cap1/6"><i class="zmdi zmdi-book zmdi-hc-fw"></i> BIBLIOGRAFIA</a>
						</li>
					</ul>
				</li>
				
				<li>
					<a href="#!" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-case zmdi-hc-fw"></i> CAPITULO 2 <i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">
						<li>
							<a href="/cap2/1"><i class="zmdi zmdi-book zmdi-hc-fw"></i> CARACTERISTICAS</a>
						</li>
						<li>
							<a href="/cap2/2"><i class="zmdi zmdi-book zmdi-hc-fw"></i> SENSIBILIDAD</a>
						</li>
						<li>
							<a href="/cap2/3"><i class="zmdi zmdi-book zmdi-hc-fw"></i>TACCESO MULTIPLE </a>
						</li>
						<li>
							<a href="/cap2/4"><i class="zmdi zmdi-book zmdi-hc-fw"></i> BIBLIOGRAFIA</a>
						</li>
						
						</li>
					</ul>
				</li>
				
				<li>
					<a href="#!" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-case zmdi-hc-fw"></i> CAPITULO 3 <i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">
						<li>
							<a href="/cap3/1"><i class="zmdi zmdi-book zmdi-hc-fw"></i> PLANEACION DE FRECENCIAS</a>
						</li>
						<li>
							<a href="/cap3/2"><i class="zmdi zmdi-book zmdi-hc-fw"></i> ANTENAS INTELIGENTES</a>
						</li>
						<li>
							<a href="/cap3/3"><i class="zmdi zmdi-book zmdi-hc-fw"></i>CMD </a>
						</li>
						<li>
							<a href="/cap3/4"><i class="zmdi zmdi-book zmdi-hc-fw"></i> ASIGNACION DE CANALES</a>
						</li>
						<li>
							<a href="/cap3/5"><i class="zmdi zmdi-book zmdi-hc-fw"></i>BIBLIOFRAFIA</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#!" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-case zmdi-hc-fw"></i> CAPITULO 4 <i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">
						<li>
							<a href="/cap4/1"><i class="zmdi zmdi-book zmdi-hc-fw"></i> TELEFONIA ANALOGICA</a>
						</li>
						<li>
							<a href="/cap4/2"><i class="zmdi zmdi-book zmdi-hc-fw"></i> ELEMENTOS</a>
						</li>
						<li>
							<a href="/cap4/3"><i class="zmdi zmdi-book zmdi-hc-fw"></i>INGENIERIA DE TRAFICO </a>
						</li>
						<li>
							<a href="/cap4/4"><i class="zmdi zmdi-book zmdi-hc-fw"></i> DISEÑO</a>
						</li>
						<li>
							<a href="/cap4/5"><i class="zmdi zmdi-book zmdi-hc-fw"></i> BIBLIOGRAFIA</a>
						</li>
						
					</ul>
				</li>
				<li>
					<a href="#!" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-case zmdi-hc-fw"></i> CAPITULO 5 <i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">
						<li>
							<a href="/cap5/1"><i class="zmdi zmdi-book zmdi-hc-fw"></i> TELEFONIA CELULAR</a>
						</li>
						<li>
							<a href="/cap5/2"><i class="zmdi zmdi-book zmdi-hc-fw"></i> CODIFICACION</a>
						</li>
						<li>
							<a href="/cap5/3"><i class="zmdi zmdi-book zmdi-hc-fw"></i>SITEMA AMERICANO </a>
						</li>
						<li>
							<a href="/cap5/4"><i class="zmdi zmdi-book zmdi-hc-fw"></i> GSM</a>
						</li>
						<li>
							<a href="/cap5/5"><i class="zmdi zmdi-book zmdi-hc-fw"></i> BIBLIOGRAFIA</a>
						</li>
					</ul>
				</li>

				<li>
					<a href="#!" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-case zmdi-hc-fw"></i> CAPITULO 6 <i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">
						<li>
							<a href="/cap6/1"><i class="zmdi zmdi-book zmdi-hc-fw"></i> EVOLUCION</a>
						</li>
						<li>
							<a href="/cap6/2"><i class="zmdi zmdi-book zmdi-hc-fw"></i> SISTEMAS UMTS</a>
						</li>
						<li>
							<a href="/cap6/3"><i class="zmdi zmdi-book zmdi-hc-fw"></i>REDES INTELIGENTES </a>
						</li>
						<li>
							<a href="/cap6/4"><i class="zmdi zmdi-book zmdi-hc-fw"></i> SISTEMA IMT 2000</a>
						</li>
						<li>
							<a href="/cap6/5"><i class="zmdi zmdi-book zmdi-hc-fw"></i> BIBLIOGRAFIA</a>
						</li>
					</ul>
				</li>
	
		
			

			</ul>
		</div>
	</section>

	<!-- Content page-->

	<section class="full-box dashboard-contentPage">
		<!-- NavBar -->
		<nav class="full-box dashboard-Navbar">
			<ul class="full-box list-unstyled text-right">
				<li class="pull-left">
					<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
				</li>
				
				{%block navbar%}

				{%endblock%}
				<li>
					<a href="/cursos"><i class="zmdi zmdi-book zmdi-hc-fw"></i> CURSOS </a>
				</li>
				<li>
					<a href="/extras"><i class="zmdi zmdi-book zmdi-hc-fw"></i> EXTRAS </a>
				</li>
				<li>
					<a href="/software"><i class="zmdi zmdi-book zmdi-hc-fw"></i> SOFTWARE</a>
				</li>
				<li>
					<a href="/reactivos"><i class="zmdi zmdi-book zmdi-hc-fw"></i> REACTIVOS</a>
				</li>
				<li>
					<a href="/ejercicios"><i class="zmdi zmdi-book zmdi-hc-fw"></i> EJERCICIOS</a>
				</li>
				<li>
					<a href="/descargas"><i class="zmdi zmdi-book zmdi-hc-fw"></i> DESCARGA</a>
				</li>

				<li>
					<a href="/student" class="btn-modal-help">
						<i class="zmdi zmdi-face"></i>
					</a>
				</li>
				<li>
					<a href="#!" class="btn-modal-help">
						<i class="zmdi zmdi-help-outline"></i>
					</a>
				</li>
				
			</ul>
		</nav>
		<!-- Content page -->
		<!-- Content page -->
		<div class="container-fluid">
			
			<div class="page-header">
				{%block NAVE%}
				
	
				{%endblock%}
			</div>
		</div>

		<div class="full-box text-center" style="padding: 30px 10px;">
			
			{%block body%}
			{%endblock%}


		</div>
		
		
	</section>

	

	<!-- Dialog help -->
	<div class="modal fade" tabindex="-1" role="dialog" id="Dialog-Help">
	  	<div class="modal-dialog" role="document">
		    <div class="modal-content">
			    <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			    	<h4 class="modal-title">INORMACION</h4>
			    </div>
			    <div class="modal-body">
			        <p>
							Esta aplicacion fue realizado por estudiandes de la Carrera de Ingenieria en Telecomunicaciones con el objetivo
							de dar a conocer las actividades que se desarrollaron a lo largo del semestre en el periodo SEPTIEMBRE 2023 - FEBRERO 2024 
			        </p>
			    </div>
		      	<div class="modal-footer">
		        	<button type="button" class="btn btn-primary btn-raised" data-dismiss="modal"><i class="zmdi zmdi-thumb-up"></i> Ok</button>
		      	</div>
		    </div>
	  	</div>
	</div>
	<!--====== Scripts -->
	<script src="{{url_for('static', filename='js/jquery-3.1.1.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/sweetalert2.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/material.min.js')}}"></script>	
	<script src="{{url_for('static', filename='js/ripples.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/jquery.mCustomScrollbar.concat.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/main.js')}}"></script>
	<script>
		$.material.init();
	</script>
</body>
</html>