{% extends "layout.html" %}
{% block body %}

    <article class="full-box tile">
      
      <div class="full-box cont text-center" >
        <h1></h1>
        <figure class="full-box">
          <img src="{{url_for('static', filename='assets/img/pallo.jpg')}}" alt="UserIcon">
          <figcaption class="text-center text-titles text-uppercase">ING JUAN PABLO PALLO</figcaption>
        </figure>
      </div>
    
      <div class="full-box tile-title text-center text-titles text-uppercase">
        Teacher
      </div>
    
    </article>
 
    <h1></h1>    
    <article class="full-box tile">
       
      <div class="full-box cont text-center" >
        <h1></h1>
        <figure class="full-box">
          
          <img src="{{url_for('static', filename='assets/img/yuli.jpg')}}" alt="UserIcon">
          <figcaption class="text-center text-titles text-uppercase">Acosta Proaño Yulisa Francisca  </figcaption>
          <a class="button" href="https://www.w3docs.com/learn-html/html-button-tag.html">HTML button tag</a>
        </figure>
      </div>
    
      <div class="full-box tile-title text-center text-titles text-uppercase">
        STUDENT
      </div>
    
    </article>
    <article class="full-box tile">
       
      <div class="full-box cont text-center" >
        <h1></h1>
        <figure class="full-box">
          <img src="{{url_for('static', filename='assets/img/barba.jpg')}}" alt="UserIcon">
          <figcaption class="text-center text-titles text-uppercase">Barba Proaño Silvia Guadalupe  </figcaption>
        </figure>
      </div>
    
      <div class="full-box tile-title text-center text-titles text-uppercase">
        STUDENT
      </div>
    
    </article>
    <article class="full-box tile">
       
      <div class="full-box cont text-center" >
        <h1></h1>
        <figure class="full-box">
          <img src="{{url_for('static', filename='assets/img/condor.jpg')}}" alt="UserIcon">
          <figcaption class="text-center text-titles text-uppercase">Condor Laica Ariel Jhonny  </figcaption>
        </figure>
      </div>
    
      <div class="full-box tile-title text-center text-titles text-uppercase">
        STUDENT
      </div>
    
    </article>

    <article class="full-box tile">
       
      <div class="full-box cont text-center" >
        <h1></h1>
        <figure class="full-box">
          <img src="{{url_for('static', filename='assets/img/laica.jpg')}}" alt="UserIcon">
          <figcaption class="text-center text-titles text-uppercase">Laica Cunalata Oscar Daniel  </figcaption>
        </figure>
      </div>
    
      <div class="full-box tile-title text-center text-titles text-uppercase">
        STUDENT
      </div>
    
    </article>
    
    <article class="full-box tile">
       
      <div class="full-box cont text-center" >
        <h1></h1>
        <figure class="full-box">
          <img src="{{url_for('static', filename='assets/img/manobanda.jpg')}}" alt="UserIcon">
          <figcaption class="text-center text-titles text-uppercase">Manobanda Guangasi Wilson Gustavo   </figcaption>
        </figure>
      </div>
    
      <div class="full-box tile-title text-center text-titles text-uppercase">
        STUDENT
      </div>
    
    </article>

    <article class="full-box tile">
       
      <div class="full-box cont text-center" >
        <h1></h1>
        <figure class="full-box">
          <img src="{{url_for('static', filename='assets/img/pazmiño.jpg')}}" alt="UserIcon">
          <figcaption class="text-center text-titles text-uppercase">Pazmiño Zapata José Enrique   </figcaption>
        </figure>
      </div>
    
      <div class="full-box tile-title text-center text-titles text-uppercase">
        STUDENT
      </div>
    
    </article>

    <article class="full-box tile">
       
      <div class="full-box cont text-center" >
        <h1></h1>
        <figure class="full-box">
          <img src="{{url_for('static', filename='assets/img/vargas.jpg')}}" alt="UserIcon">
          <figcaption class="text-center text-titles text-uppercase">Vargas Zambrano Kleber Santiago </figcaption>
        </figure>
      </div>
    
      <div class="full-box tile-title text-center text-titles text-uppercase">
        STUDENT
      </div>
    
    </article>

    
    <article class="full-box tile">
       
      <div class="full-box cont text-center" >
        <h1></h1>
        <figure class="full-box">
          <img src="{{url_for('static', filename='assets/img/yumisaca.jpg')}}" alt="UserIcon">
          <figcaption class="text-center text-titles text-uppercase">Yumizaca Cepeda José Abraham </figcaption>
        </figure>
      </div>
    
      <div class="full-box tile-title text-center text-titles text-uppercase">
        STUDENT
      </div>
    
    </article>
			

     
{% endblock %}
